<% provide(:titel, 'Notification') %>
<div>
  <h4 class="sub-title">Notification</h4>
  <% if @notifications.exists? %>
    <div class="users-index">
      <%= render @notifications %>
      <%= will_paginate @notifications %>
    </div>
  <% else %>
    <p>Nothing of notification</p>
  <% end %>
</div>