<%= link_to comment.user.user_name, comment.user %> >> <%= comment.content %>
<span class="comment-timestamp">
  Commented <%= time_ago_in_words(comment.created_at) %>ago.
　<% if current_user?(comment.user) %>
  　<%= link_to "削除", comment, method: :delete %>
　<% end %>
</span><br>